div#projinfo{
    border:0px;
    box-shadow:none;
    border-right:1px solid black;
    border-radius:0;
}

#projinfo li{
    border-radius:0;
    box-shadow:none;
    border-left:0px;
    border-right:0px;
}

#tasks{
   padding:20px;
}
#forum{
   padding:20px;
}

div#recent-tasks a span.label{
    margin-left:5px;
}

#main-content{
    border:0px;
    box-shadow:none;
}

div#main-content div#tasks{
    border-top:0px;
    border-top-left-radius:0;
    border-top-right-radius:0;

}
div#main-content div#forum{
    border-top:0px;
    border-top-left-radius:0;
    border-top-right-radius:0;

}
div#main-content div#members{
    border-top:0px;
    border-top-left-radius:0;
    border-top-right-radius:0;

}

.text{
    margin-top: 1em;
}
